<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--设置别名-->
    <typeAliases>
        <package name="com.wangpeng.pojo"/>
    </typeAliases>

    <!--设置mapper位置-->
    <mappers>
        <package name="com.wangpeng.dao"/>
    </mappers>
</configuration>
